.containerPrincipal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr));
  max-height: 100%;
  min-height: 100vh;
  background-color: #000000e3;
  align-items: center;
  justify-items: center;
}

.container {
  min-height: 30rem;
  max-height: 35rem;
  min-width: 31rem;
  max-width: 34rem;
  color: white;
  background-color: #000000;
  border-radius: 30px;
  border: 3px solid lime;
  box-shadow: 0px 0px 20px 0px #10ff00;
}
.containerOne--textStyle {
  color: #0dff96;
  text-align: center;
  line-height: 1.5;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}

.containerOne__Tittle{
  margin: 0 0 30px 0;
}

.containerOne__Parrafo{
  padding: 20px;
}

.containerTwo--Styles {
  font-size: 13px;
  color: #ffffff;
  display: flex;
  width: 32rem;
  min-width: 34rem;
  min-height: 37rem;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  
}

.containerTwo__SubTitulo {
  padding: 30px;
  font-size: 17px;
  color: #0dff96;
}

.containerTwo__TodoList {
  padding: 0;
  margin: 30px;
  display: grid;
  gap: 26px;
}

.containerTwo__TodoItem {
  display: flex;
  justify-content: space-between;
  min-width: 27rem;
  max-width: 27rem;
  align-items: center;
  gap: 20px;
  transition: all 0.5s ease ;
}

.containerTwo__actions {
  color: #ffffff;
  min-width: 22px;
}

.containerTwo__Tittle--Done {
  font-size: 11px !important;
  position: absolute;
  top: 25px;
  color: #00EF10 !important;
}

.containerTwo__Tittle--Unfinished{
  font-size: 11px !important;
  position: absolute;
  top: 25px;
}

.containerTwo__TodoItem--completed{
  border-color: #00EF10 !important;
}

.containerTwo__TodoSearch {
  margin: 2.5px 0;
  max-width: 22rem;
}

.containerTwo__actions--Done:hover {
  color: #00EF10;
}

.Icon-check--completed {
  color: #00EF10;
}

.containerTwo__ButtonActions{
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
}

.containerTwo__ButtonActions:focus {
  outline: none;
}

.Parrafo--completed {
  color: #00EF10;
}

.containerTwo__actions--Delete:hover{
  color:red;
}

.containerTwo__ParrafoTodo {
  margin: 0;
}
