.containerPrincipal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr));
  max-height: 100%;
  min-height: 100vh;
  background-color: #000000e3;
  align-items: center;
  justify-items: center;

  
}

.container {
  min-height: 30rem;
  max-height: 35rem;
  min-width: 31rem;
  max-width: 34rem;
  color: white;
  background-color: #000000;
  border-radius: 30px;
  border: 3px solid lime;
  box-shadow: 0px 0px 20px 0px #10ff00;
}

@media screen and (max-width: 1010px) {
  .containerPrincipal{
    
  }
}

.containerOne--textStyle {
  color: #0dff96;
  text-align: center;
  line-height: 1.5;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}

.containerTwo--Styles {
  font-size: 13px;
  color: #ffffff;
  display: flex;
  width: 32rem;
  min-width: 30rem;
  min-height: 37rem;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.containerTwo__SubTitulo {
  padding: 30px;
  font-size: 17px;
  color: #0dff96;
}

